<div class="container-fluid" style="max-width: 1300px;">
  <div class="row">
    
    <div class="col-2 col-md-3 col-xl-3 px-sm-2 px-0 d-flex justify-content-end pr-md-4">
      <div style="width: 100%; max-width: 275px;">
        <app-sidebar></app-sidebar>
      </div>
    </div>

    <div class="col-10 col-md-9 col-xl-9">
      <div class="row h-100">
        <div class="col-12 col-lg-7 border-start border-end min-vh-100 p-0">
          <router-outlet></router-outlet> </div>

        <div class="d-none d-lg-block col-lg-5 px-4">
          <app-right-panel></app-right-panel>
        </div>
      </div>
    </div>

  </div>
</div>